.container {
    width: 54%;;
    margin : 7% auto;
    /* border : 2px solid yellow; */
    padding : 2%;
    height: 50%;
    background-color: rgb(245, 245, 245 , 0.5);
    box-shadow: 6px 7px 10px black;
    border-radius: 0px 20px 0px 20px;
}

.BrandHeading{
    text-align: center;
}

.nameInput{
    display: block;
    margin: 0px auto;
    width : 35%;
    padding : 5px 0px;
}

@media only screen and (max-width: 600px) {
    .container{
        width : 80%;
    }
}

.buttonInput{
    padding : 4px 5px;
    display: inline-block;
    width : 15%;
    padding : 10px 0px;
    position : relative;
    font-size: 0.75em;
    left : 42.5%;
    margin-top : 5px;
    border-radius: 5px;
}

.buttonInput:hover{
    background-color: white;
}

.subHeading{
    text-align: center;
    margin-top: 24px;
}

::placeholder{
    color: gray;
}