@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.container {
    width: 60%;;
    margin : 7% auto;
    /* border : 2px solid yellow; */
    padding : 1.8% 2.3%;
    padding-bottom: 1%;
    height: 50%;
    background-color: rgb(245, 245, 245 , 0.45); 
    box-shadow: 6px 7px 12px black;
    border-radius: 0px 28px 0px 20px;
    color : #404040;
    font-family: 'Raleway', sans-serif;
    /* 0.46 ideal  */
}

.BrandHeading{
    text-align: center;
    /* color :#383838; */
    color : rgb(250, 223, 198) ;
    /* rgb(221, 129, 42); rgb(245, 181, 121)  rgb(248, 211, 174) */
    font-family: 'Raleway', sans-serif;
}

.subHeading{
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
    /* color :gray; */
    background-color:  rgb(0, 0, 0 , 0.01); 
    width: 60%;
    position: relative;
    left : 20%;
    padding : 5px;
    padding-bottom : 12px;
    border-bottom: 1px solid orange;
    /* box-shadow: 0px 0px 5px orange; */
    color : rgb(250, 240, 233) ;
    /* color : rgb(255,255,242) */
}


.nameInput{
    display: block;
    margin: 24px auto;
    width : 35%;
    padding : 2px 0px;
    border : none;
}

@media only screen and (max-width: 1150px) {
    .container{
        width : 80%;
        margin :18% auto;
    }
    .nameInput{
        display: block;
        margin: 0px auto;
        width : 54%;
    }
    .buttonInput{
        width: 25%;
    }
    .subHeading{
        width : 90%;
        left : 5%;
    }
    .nameInput{
        margin-top : 19px;
    }
}

/* @media only screen and (max-width: 960px) {
    .container{
        width : 80%;
        margin :15% auto;
    }
} */

.buttonInput{
    padding : 4px 5px;
    display: inline-block;
    width : 15%;
    padding : 10px 0px;
    position : relative;
    font-size: 0.75em;
    left : 42.5%;
    margin-top : 15px;
    margin-bottom: 0px;
    border-radius: 5px;
    color : rgb(219, 110, 110);
}

.buttonInput:hover{
    background-color: white;
}


::placeholder{
    color: gray;
    /* margin-left: 10px; */
    line-height: normal; 
    padding-left: 10px; 
}