  body{
    /* overflow-y: hidden; */
  }

  .container h2 {
    margin: 0.5em auto;
    color: #FFF;
    text-align: center;
    font-family: 'Nunito', sans-serif;
  }
  
  .chatbox {
    background: linear-gradient(120deg, #17bebb, #f0a6ca);
    height: 75%;
    border-radius: 0.2em;
    font-family: 'Nunito', sans-serif;
    -webkit-box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  }
  
  .chatbox__messages .chatbox__messages__user-message--ind-message {
    float: right;
  }
  

  .chatbox__messages .chatbox__messages__user-message--ind-message:after {
    content: '';
    position: absolute;
    margin-left: 3px; 
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgba(255, 255, 255, 0.2);
  }

  .chatbox__messages__user-message {
    width: 100%;
  }
  
  .chatbox__messages__user-message--ind-message {
    background: rgba(255, 255, 255, 0.2);
    padding: 1em 0;
    height: auto;
    width: 65%;
    border-radius: 5px;
    margin: 1.2em 1.4em;
    overflow: hidden;
  }
  
  .chatbox__messages__user-message--ind-message > p.name {
    color: #FFF;
    font-size: 1em;
  }
  
  .chatbox__messages__user-message--ind-message > p.message {
    color: #FFF;
    font-size: 0.7em;
    margin: 0 2.8em;
  }
  
  .chatbox__user-list {
    background: rgba(255, 255, 255, 0.1);
    width: 25%;
    height: 100%;
    float: right;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
  }
  
  .chatbox__user-list h1 {
    background: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.9em;
    padding: 1em;
    margin: 0;
    font-weight: 300;
    text-align: center;
  }
  
  .chatbox__user, .chatbox__user--active, .chatbox__user--busy, .chatbox__user--away {
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
    margin: 1em 0.7em;
  }
  
  .chatbox__user--active {
    background: rgba(23, 190, 187, 0.8);
  }
  
  .chatbox__user--busy {
    background: rgba(252, 100, 113, 0.8);
  }
  
  .chatbox__user--away {
    background: rgba(255, 253, 130, 0.8);
  }
  
  .chatbox p {
    float: left;
    text-align: left;
    margin: -0.25em 2em;
    font-size: 0.7em;
    font-weight: 300;
    color: #FFF;
    width: 80%;
  }
  

  .chatInput {
    background: rgba(255, 255, 255, 1);
    border: none;
    width: 75%;
    /* padding: 1.2em 0px; */
    outline: none;
    font-weight: 300;
    display: inline;
    height: 100%;
  }

  .chatButton{
    background: #EAEBE5;
    border: none;
    display: inline;
    /* padding: 1.2em 0px; */
    width: 25%;
    font-weight: 500;
    height: 100%;
  }

::placeholder{
  color: pink;
}
  
  ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.9);
  }
  
  :-moz-placeholder {
    color: rgba(255, 255, 255, 0.9);
  }
  
  ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.9);
  }
  
  :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.9);
  }

  /* Media queries */

  .GridScoreContainer{
    overflow-y: scroll;
    background-color: rgb(255,255,255,0.95);
    position: fixed;
  }
  .GridChatContainer{
    overflow-y: scroll;
    position: fixed;
  }

  .chatInputHandler{
    position: fixed;
    bottom: 0;
    z-index: 5;
    left : 0;
    height: 8.2%;
    background-color: rgb(234,235,229);
  }

  .GridChatContainer h3{
    /* position: fixed;
    top: 0%;
    left:0%; */
    color: white;
    text-align: center;
    padding-top: 6px;
    height: 10%;
  }

  .totalUsers{
    position: fixed;
    top: 0%; 
    left: 34.4%;
    background:green;
    z-index: 7;
    padding : 2px 4px;
    border-radius: 0px 0px 6px 6px;
    color: white;
  }

  @media only screen and (max-width: 960px) {
    .GridChatContainer {
      /* height: 50vh; */
      background: linear-gradient(120deg, #17bebb, #f0a6ca);

      /* here the custom code begins */
      bottom : 50%;
      width : 100%;
      left : 0;
      top : 0;
      overflow-x: hidden;
    }
    .GridScoreContainer{
      /* height: 50vh; */
      /* here the custom code begins */
      top : 50%;
      width : 100%;
      left : 0;
      bottom : 8.2%;
      overflow-x: hidden;
    }
    .chatInputHandler{
      width: 100%;
      z-index: 5;
      overflow-x: hidden;
    }
    .totalUsers{
      position: fixed;
      top: 51.5%; 
      left: 0%;
      background:green;
      z-index: 7;
      padding : 2.5px;
      padding-left: 1.5px;
      color: white;
      font-size: 10.5px;
      border-radius: 0px 5px 5px 0px;
    }
  }


  @media only screen and (min-width: 960px) {
    .GridChatContainer {
      /* height: 100vh; */
      /* position: relative; */
      background: linear-gradient(120deg, #17bebb, #f0a6ca);

      /* here the custom code begins */
      bottom : 8.2%;
      width : 33.33%;
      left : 0;
      top : 0;
      overflow-x: hidden;
    }
    .GridScoreContainer {
      /* position: relative; */
      /* height: 100vh; */

      /* here the custom code begins */
      bottom : 0%;
      width : 66.67%;
      right : 0;
      top : 0;
      overflow-x: hidden;
    }
    .chatInputHandler{
      width: 33.33%;
      overflow-x: hidden;
      height: 8.2%;
    }

  }