.scoreContainer{
    /* position: absolute; */
    padding: 16px;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    /* width: 65%; */
    background-color: rgb();
    /* background-color: linear-gradient(120deg, rgb(23,190,187,0.5), rgb(240,166,202,0.5));
    background-color: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
    text-align: center; 
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    /* overflow-y: scroll; */
}