.Room{
    /* border: 1px solid red; */
    margin: 2px auto;
    width: 85%;
    padding: 15px;
    text-decoration: none;
    box-shadow: 1px 4px 11px rgb(255,255,242);
    border-radius: 0px 7px 0px 7px;
    /* background-color: #dcf2f5; */
    background-color: rgb(255,255,242);
    border : 2px solid orange;
}

.Room:hover{
    background-color: #dcf2f5;
    width: 86%;
}